.p-0 {
    padding: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}

.section_padding {
    padding: 130px 0px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_padding {
        padding: 80px 0px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media (max-width: 575px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_padding {
        padding: 70px 0px;
    }
}

@media (max-width: 575px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 3640px) {
    .container {
        max-width: 1170px;
    }
}

.section_tittle {
    margin-bottom: 73px;
}

@media (max-width: 991px) {
    .section_tittle {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_tittle {
        margin-bottom: 50px;
    }
}

.section_tittle h2 {
    font-size: 46px;
    color: #0c3e72;
    line-height: 1.1;
    font-weight: 700;
    position: relative;
    margin-bottom: 26px;
}

@media (max-width: 991px) {
    .section_tittle h2 {
        font-size: 30px;
        line-height: 35px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_tittle h2 {
        font-size: 35px;
        line-height: 40px;
    }
}

.section_tittle p {
    color: #777;
    font-weight: 400;
}

.our_gallery .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
}

@media (max-width: 575px) {
    .our_gallery .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 1.25rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
    }
}

.our_gallery .card-columns .card {
    border-radius: 0;
    border: 1px solid transparent;
}

.our_gallery .card-columns .card .card-img-top {
    border-radius: 0;
    border: 1px solid transparent;
}